.face{
    width :400px;
    height:400px;
    background-color:#ffa511;
    border-radius:50%;
}
.mouth{
    width: 200px;
    height: 75px;
    background-color:brown;
    border-radius:0 0 50px 50px;
    position:absolute;
    top:250px;
    left:100px;
}
.rightEye{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
    top:90px;
    left: 250px;
}
.leftEye{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
    top:90px;
    left: 70px;
}