h1 { 
    text-align: left;
    color: #222222;
    text-decoration: none;
    font-family:fantasy;
    font:80px poppins, Arial ,sans-serif;
}
h2{
    color: black;
    text-align: left;
    font-family:'Courier New', Courier, monospace;
}
#photo{
    height:500px;
    width: 500px;
    background-image:url("rameshphoto.JPG");
    background-size :cover;
    position: relative;
    left:400px;
    display:inline-block;
    transition: 1s;
    border-radius:50%;
    box-shadow: 2px 2px 8px black;
}
#photo:hover{
    height:600px;
    width: 600px;
    border-radius:50%;
    box-shadow: 2px 4px 16px black;

}
button{
    color :#FFFFFF;
    background-color:#6772E5 ;
}
button:hover{
    transform:skew(-20deg)
}

p{
    color: rgb(31, 10, 10);
    text-align: left;
    text-align: start;
}
p:hover{
    font-size: 18px;
}
i{
    color:rgb(31, 10, 10) ;
}
em{
    color:rgb(31, 10, 10) ;
}
li{
    color: green;
}
body{
    background-color :78D6C6 ;
}
form{
    text-align: center;
}
em{
    text-align: center;
}
a{
    text-decoration:none;
    color:green;
}
/* #body{
    display:inline-block;
    width:400px;
    display: inline-block;
} */
#intro{
    display:inline-block;
    width:400px;
    text-align: left;
    position:relative;
    bottom:200px;
    left:10px;
}
h4{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:xx-large;
}
input[type ="text"] {
    color:#6772E5 ;
}
input[type ="number"] {
    color:red ;
}
input[type ="password"] {
    color: darkgray ;
}
button:hover{
    background-color:red;
    color:#FFFFFF;
}
button:active{
    background-color:#222222;
    color:azure;
}
/* pseudo class */
a:hover{
    color:blue;
}
h1:active{
 color:#6772E5;
}
p:active{
    color:black;
    font-weight:bolder;
}
h2:active{
    color:#6772E5;
}
h4:active{
    color:#6772E5;
}
h3:active{
    color:blueviolet;
}
/* Pseudo Element */
h1::first-letter{
    color:#6772E5;
}
*::selection{
    color:black;
    background-color:grey;
}
#google{
    border-radius:10px;
    width:200px;
}
div{
    width:800px;
    display:flex;
    flex-direction:row;
    justify-content: center;
}
/* Wanna change in specific part */
.li::marker{
    Content:"☑️";
}
.tech::marker{
    content:"☑";
    color:black;
}
.edu::marker{
    content:"🎓";
}
#itm::marker{
    content:"📚";
}
#eml::marker{
    content:"📧";
}
#ph::marker{
    content:"📱";
}
#health::marker{
    content:"🧑‍⚕️";
}
#prediction::marker{
    content:"📈";
}
#webapp::marker{
    content:"💹";
}
#webdev::marker{
    content:"🌏 ";
}
.social_media{
    position:absolute;
    left:25%;
    font-size:30px;
}
.social_media i{
    color:black;
    opacity:0.5;
    padding:0 5px;
}
.social_media i:hover{
    opacity:1;
    transform:scale(1.2);
}
a{
    color:white;
}
